<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device, initial-scale=1">
    <title>ark</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/index/ark_logo.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/ham_style.css">
    <link rel="stylesheet" href="./receive_css/receive_style.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="./receive_js/receive_script.js"></script>
    <style>
      @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
    </style>
    <style>
      <%= loginCollect.navsatus %> {display:none;}
      a:hover {text-decoration:none};
    </style>
  </head>
  <body>
      <!-- hamburger -->
      <div class="hamburger">
        <div class="ham-style hamnav_style">
          <ul class="ham">
            <li>
              <button class="hamburger-menu">
                <span class="icon-bar"></span>
                <span class=" icon-bar_short"></span>
                <span class="icon-bar"></span>
              </button>
                <ul class="ham_ul">
                  <div  class="ham_close"><a href="#"><img src="..\images\index\index320_nav_close_icon.png" alt="logo"></a></div>
                  <div class="li_hello"><div class="hello">Hi，您好</div></div>
                  <!-- 活動資訊 -->
                  <li class="ham_li_padding ham_but_01"><a href="../information/"><div class="left">
                    <img class="ham_icom icom_mous_out01 icom_mous_out" src="../images/index/index320_infor_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in01" src="../images/index/index320_infor_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">活動資訊</div></a></li>
                  <!-- 登入 -->
                  <li class="login_none ham_li_padding ham_but_02"><a href="../login/"><div class="left">
                    <img class="ham_icom icom_mous_out02 icom_mous_out" src="../images/index/index320_login_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in02" src="../images/index/index320_login_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">登入</div></a></li><!--class的login_none和logout_none可以消失-->
                  <!-- 送船 -->
                  <li class="logout_none ham_li_padding ham_but_03"><a href="../send/"><div class="left">
                    <img class="ham_icom icom_mous_out03 icom_mous_out" src="../images/index/nav_burger_send_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in03" src="../images/index/nav_burger_send_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">送船</div></a></li><!--登入才要出現-->
                  <!-- 收船 -->
                  <li class="logout_none ham_li_padding ham_but_04" id="here"><a href="../receive/"><div class="left">
                    <img class="ham_icom" src="../images/index/nav_burger_receive_icon_white.png" alt="icon">
                    <!-- <img class="ham_icom icom_mous_in04" src="../images/index/nav_burger_receive_icon_blue.png" alt="icon"> -->
                  </div><div class="ham_li_text">收船</div></a></li><!--登入才要出現-->
                  <!-- 登出 -->
                  <li class="logout_none logout_non ham_li_padding ham_but_05"><a href="../logout/"><div class="left">
                    <img class="ham_icom icom_mous_out05 icom_mous_out" src="../images/index/nav_burger_logout_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in05" src="../images/index/nav_burger_logout_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">登出</div></a></li>
                  <div class="clear"></div>
                </ul>
          </li>
          </ul>
        </div><!--ham-style-->
        <div class="ham_logo">
          <a href="../">
            <div class="hamnav_style">
              <img src="..\images\index\logo_34x26.png" alt="logo">
            </div>
            <div class="nav_li_B hamnav_style">ark</div>
          </a>
        </div>
        <div class="clear"></div>
        <div id="blackbg00"></div><!--黑背景-->
      </div><!--hambuger-->
  <div class="container">
    <nav>
      <div class="nav_style">
        <ul>
          <li class="nav_li_A"><img src="..\images\index\logo_34x26.png" alt="logo"></li>
          <li><div class="nav_li_B"><a href="../">方舟．ark</a></div></li>
        </ul>
        <ul class="nav_right">
          <li class="nav_li_C"><a href="../information/"><div>活動資訊</div></a></li>
          <li class="nav_li_D login_none"><a href=""><div>登入</div></a></li><!--class的login_none和logout_none可以消失-->
          <li class="nav_li_C logout_none" id="here"><a href=""><div>收船</div></a></li><!--登入才要出現-->
          <li class="nav_li_C logout_none"><a href="../send/"><div>送船</div></a></li><!--登入才要出現-->
          <li class="nav_li_D logout_none"><a href="../logout/"><div>登出</div></a></li><!--登入才要出現-->
        </ul>
      </div>
    <div class="clear"></div>
    </nav>
    <!-- 收船上方圖片與按鈕區 -->
    <header>
      <div class="cookie">首頁>收船</div>
      <div class="header_all">
        <div class="header_boat_w">
          <video class="video1024" src="../images/receive_img/mp4/1024/landingpage_gif_1024_white.mp4" autoplay poster="posterimage.jpg" loop></video>
          <video class="video720" src="../images/receive_img/mp4/720/landingpage_gif_720_white.mp4" autoplay poster="posterimage.jpg" loop></video>
        </div>
        <!-- 黃船有新船時才出現 & 點完變成白船 -->

        <div class="header_boat_y" <% if(boatstatus){ %> style="display:none;" <% } %> >
          <video class="video1024" src="../images/receive_img/mp4/1024/landingpage_gif_1024_yellow.mp4" autoplay poster="posterimage.jpg" loop></video>
          <video class="video720" src="../images/receive_img/mp4/720/landingpage_gif_720_yellow.mp4" autoplay poster="posterimage.jpg" loop></video>
        </div>
        <div class="img_320_ctrl">
          <div class="header_boat_w">
            <img src="../images/receive_img/landingpage_gif_320_white.png" alt="boat_w">
          </div>
          <div class="header_boat_y" <% if(boatstatus){ %> style="display:none;" <% } %> >
            <img src="../images/receive_img/landingpage_gif_320_yellow.png" alt="boat_y">
          </div>
        </div>
        <!-- 接收新船的按鈕 -->
        <div class="header_boat_link mylink"  <% if(boatstatus){ %> style="display:none;" <% } %> ></div>
      </div><!--header_all-->
    </header>
    <div id="blackbg01"></div><!-- 黑背景zindex=1 -->
    <div id="blackbg02"></div><!-- 黑背景zindex=3 -->

    <!-- 收船內容 -->
    <article>
      <!-- 上面的白字 -->
      <div class="article_headertxt">您收到的紙船</div>


      <div class="new_boat">
        <% for(var i = 0;i < newReceive_data.length;i++){ %>
        <!-- 新的!!!收船的內容需要重複 -->
        <div class="receive_all">
        <div class="receive_top mylink" onclick="setNextShow('<%= newReceive_data[i].boat_id %>')">
          <div class="receive_img">
            <img src="../images/shared_img/message_logo_pic01.png" alt="boat">
          </div>
          <div class="receive_box">
            <!-- 標題 -->
            <div class="receive_title">
              <%= newReceive_data[i].title %>
            </div>
            <!-- 內容 -->
            <div class="receive_content">
              <%= newReceive_data[i].send_content %>
            </div>
          </div>
          <div class="clear"></div>
        </div><!--receive_top-->
        <div class="receive_bottom">
          <!-- 抓時間 -->
          <div class="receive_bottom_time">
            >><%= moment(newReceive_data[i].send_time).format('YYYY/MM/DD HH:mm') %>
          </div>
          <!-- 需要刪除內容及檢舉 -->
          <div class="receive_bottom_features">
            <!-- 檢舉 -->
            <div class="report_all">
              <img class="myLink report" src="../images/shared_img/message_report_icon_hover.png" alt="Report">
              <img class="myLink report" src="../images/shared_img/message_report_icon.png" alt="Report">
            </div>
            <!-- 刪除 -->
            <div class="delete_all">
              <img class="myLink delete" src="../images/shared_img/message_del _icon_hover.png" alt="delete">
              <img class="myLink delete" src="../images/shared_img/message_del _icon.png" alt="delete">
            </div>
          </div>
          <div class="clear"></div>
        </div><!--receive_bottom-->

        <!--顯示更多內容跳出視窗 zindex=2 -->
        <div class="receive_window" id="window<%= newReceive_data[i].boat_id %>">
          <div class="overflow_wh">
          <!-- 對話框叉叉 -->
          <img class="mylink window_close" src="../images/index/index320_nav_close_icon.png" alt="close">
          <!-- 對方的內文 -->
          <div class="receive_window_style">
              <div class="left receive_window_img">
                <img src="../images/shared_img/message_logo_pic01.png" alt="boat">
              </div>
              <div class="right receive_window_box">
                <!-- 標題 -->
                <div class="receive_window_title">
                  <%= newReceive_data[i].title%>
                </div>
                <!-- 抓時間 -->
                <div class="receive_window_time">
                >><%= moment(newReceive_data[i].send_time).format('YYYY/MM/DD HH:mm') %>
                </div>
                <!-- 內容 -->
                <div class="receive_window_content">
                  <%= newReceive_data[i].send_content%>
                </div>
              </div>
              <div class="clear"></div>
              <div class="right receive_bottom_features_in">
                <!-- 檢舉 -->
                <div class="report_all">
                  <img class="myLink report" src="../images/shared_img/message_report_icon_hover.png" alt="Report">
                  <img class="myLink report" src="../images/shared_img/message_report_icon.png" alt="Report">
                </div>
              </div>
          </div><!--receive_window_style-->
          <!-- 對方的內文end -->
          <!-- 我回應的內文 -->
          <div class="receive_window_style myreceive_style" style="display:none;">
              <div class="left receive_window_img">
                <img src="../images/shared_img/receive_icon_you.png" alt="boat">
              </div>
              <div class="right receive_window_box">
                <!-- 內容 -->
                <div class="receive_window_content">
                  新的別擔心，你很棒！別擔心，你很棒！別擔心，你很棒！別擔心，你很
                  棒！別擔心，你很棒！別擔心，你很棒！別擔心，你很棒！別擔心，
                  你很棒！別擔心，你很棒！別擔心，你很棒！別擔心，你很棒！別擔
                  心，你很棒！
                </div>
                <!-- 抓時間 -->
                <div class="receive_window_time">
                  >>2017/01/14  05:20
                </div>
              </div><!--right receive_window_box-->
              <div class="clear"></div>
          </div><!--myreceive_style-->
          <!-- 我回應的內文 end-->
          <!--輸入回應區 -->
          <div class="receive_window_style receive_from_style">
              <div class="left receive_window_img rec_from_img">
                <img src="../images/shared_img/receive_icon_you.png" alt="boat">
              </div>
              <div class="right receive_window_box">
                <!-- 內容 -->
                <div class="receive_window_content">
                  <form action="../replyboat/" method="post">
                    <input name="receive_id" style="display:none;" value="<%= newReceive_data[i].receive_id %>">
                    <textarea class="form_content" name="content" placeholder="你想和他說什麼呢？" rows="5" cols="60"></textarea>
                    <div class="rec_from_but">
                      <input class="button_blue_input" type="reset" value="清除">
                      <input class="button_pink_input" type="submit" name="" value="傳送">
                    </div>
                  </form>
                </div>
              </div><!--right receive_window_box-->
              <!-- 抓時間 -->
              <div class="rec_from_time">
                >><%= moment(Date.now()).format('YYYY/MM/DD HH:mm') %>
              </div>
          </div><!--receive_from_style-->
          <!--輸入回應區 end-->
            </div><!--overflow_wh-->
        </div><!--receive_window-->
        <!-- 刪除跳出視窗 -->
        <div class="delete_window del_rep_win">
          <div class="features_title">刪除</div>
          <div class="features_content">將刪除這艘船，而且你將無法再找到它</div>
          <div class="delete_window_button">
            <div class="mylink button_blue" id="delete_no">取消</div>
            <!-- 刪除內容按鈕 -->
            <div class="mylink button_pink" id="delete_yes">刪除</div>
            <div class="clear"></div>
          </div>
        </div>
        <!-- 檢舉跳出視窗 -->
        <div class="report_window del_rep_win">
          <div class="features_title">檢舉</div>
          <div class="features_content">此內容讓人不舒服，我要檢舉！</div>
          <div class="delete_window_button">
            <div class="mylink button_blue" id="report_no">取消</div>
            <!-- 檢舉內容按鈕 -->
            <div class="mylink button_pink" id="report_yes">檢舉</div>
            <div class="clear"></div>
          </div>
        </div>
      </div><!--receive_all-->
        <!-- 新的收船的內容需要重複end -->
      <% } %>
      </div><!--new_boat-->

      <% for(var i = 0;i < receive_data.length;i++){ %>
      <!-- 收船的內容需要重複 -->
      <div class="receive_all old_boat">
        <div class="receive_top mylink" onclick="setNextShow('<%= receive_data[i].boat_id %>')">
          <div class="receive_img">
            <img src="../images/shared_img/message_logo_pic01.png" alt="boat">
          </div>
          <div class="receive_box">
            <!-- 標題 -->
            <div class="receive_title">
              <%= receive_data[i].title %>
            </div>
            <!-- 內容 -->
            <div class="receive_content">
              <%= receive_data[i].send_content %>
            </div>
          </div>
          <div class="clear"></div>
        </div><!--receive_top-->
        <div class="receive_bottom">
          <!-- 抓時間 -->
          <div class="receive_bottom_time">
            >><%= moment(receive_data[i].send_time).format('YYYY/MM/DD HH:mm') %>
          </div>
          <!-- 需要刪除內容及檢舉 -->
          <div class="receive_bottom_features">
            <!-- 檢舉 -->
            <div class="report_all">
              <img class="myLink report" src="../images/shared_img/message_report_icon_hover.png" alt="Report">
              <img class="myLink report" src="../images/shared_img/message_report_icon.png" alt="Report">
            </div>
            <!-- 刪除 -->
            <div class="delete_all">
              <img class="myLink delete" src="../images/shared_img/message_del _icon_hover.png" alt="delete">
              <img class="myLink delete" src="../images/shared_img/message_del _icon.png" alt="delete">
            </div>
          </div>
          <div class="clear"></div>
        </div><!--receive_bottom-->

        <!--顯示更多內容跳出視窗 zindex=2 -->
        <div class="receive_window" id="window<%= receive_data[i].boat_id %>">
          <div class="overflow_wh">
          <!-- 對話框叉叉 -->
          <img class="mylink window_close" src="../images/index/index320_nav_close_icon.png" alt="close">
          <!-- 對方的內文 -->
          <div class="receive_window_style">
              <div class="left receive_window_img">
                <img src="../images/shared_img/message_logo_pic01.png" alt="boat">
              </div>
              <div class="right receive_window_box">
                <!-- 標題 -->
                <div class="receive_window_title">
                  <%= receive_data[i].title%>
                </div>
                <!-- 抓時間 -->
                <div class="receive_window_time">
                  >><%= moment(receive_data[i].send_time).format('YYYY/MM/DD HH:mm') %>
                </div>
                <!-- 內容 -->
                <div class="receive_window_content">
                  <%= receive_data[i].send_content%>
                </div>
              </div>
              <div class="clear"></div>
              <div class="right receive_bottom_features_in">
                <!-- 檢舉 -->
                <div class="report_all">
                  <img class="myLink report" src="../images/shared_img/message_report_icon_hover.png" alt="Report">
                  <img class="myLink report" src="../images/shared_img/message_report_icon.png" alt="Report">
                </div>
              </div>
          </div><!--receive_window_style-->
          <!-- 對方的內文end -->
          <% if(receive_data[i].receive_time){ %>
          <!-- 我回應的內文 -->
          <div class="receive_window_style myreceive_style">
              <div class="left receive_window_img">
                <img src="../images/shared_img/receive_icon_you.png" alt="boat">
              </div>
              <div class="right receive_window_box">
                <!-- 內容 -->
                <div class="receive_window_content">
                  <%= receive_data[i].receive_content%>
                </div>
                <!-- 抓時間 -->
                <div class="receive_window_time">
                  >><%= moment(receive_data[i].receive_time).format('YYYY/MM/DD HH:mm')%>
                </div>
              </div><!--right receive_window_box-->
              <div class="clear"></div>
          </div><!--myreceive_style-->
          <!-- 我回應的內文 end-->
          <% }else{ %>
          <!--輸入回應區 -->
          <div class="receive_window_style receive_from_style">
              <div class="left receive_window_img rec_from_img">
                <img src="../images/shared_img/receive_icon_you.png" alt="boat">
              </div>
              <div class="right receive_window_box">
                <!-- 內容 -->
                <div class="receive_window_content">
                  <form action="../replyboat/" method="post">
                    <input name="receive_id" style="display:none;" value="<%= receive_data[i].receive_id %>">
                    <textarea class="form_content" name="content" placeholder="你想和他說什麼呢？" rows="5" cols="60"></textarea>
                    <div class="rec_from_but">
                      <input class="button_blue_input" type="reset" value="清除">
                      <input class="button_pink_input" type="submit" name="" value="傳送">
                    </div>
                  </form>
                </div>
              </div><!--right receive_window_box-->
              <!-- 抓時間 -->
              <div class="rec_from_time">
                >>2017/01/14  05:20
              </div>
          </div><!--receive_from_style-->
          <!--輸入回應區 end-->
          <% } %>
          </div><!--overflow_wh-->
        </div><!--receive_window-->
        <!-- 刪除跳出視窗 -->
        <div class="delete_window del_rep_win">
          <div class="features_title">刪除</div>
          <div class="features_content">將刪除這艘船，而且你將無法再找到它</div>
          <div class="delete_window_button">
            <div class="mylink button_blue" id="delete_no">取消</div>
            <!-- 刪除內容按鈕 -->
            <div class="mylink button_pink" id="delete_yes">刪除</div>
            <div class="clear"></div>
          </div>
        </div>
        <!-- 檢舉跳出視窗 -->
        <div class="report_window del_rep_win">
          <div class="features_title">檢舉</div>
          <div class="features_content">此內容讓人不舒服，我要檢舉！</div>
          <div class="delete_window_button">
            <div class="mylink button_blue" id="report_no">取消</div>
            <!-- 檢舉內容按鈕 -->
            <div class="mylink button_pink" id="report_yes">檢舉</div>
            <div class="clear"></div>
          </div>
        </div>
      </div><!--receive_all-->
      <!-- 收船的內容需要重複end -->
      <% } %>


        <div class="more button_buder_blue_more">
          <a href="#"><div>＋看更多</div></a>
        </div>
    </article>


    </div><!--container-->
    <footer>
      <div class="footer_txt">
        Copyright © 2017
      </div>
    </footer>
    <!-- <script src="../js/jquery.js"></script> -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/ham_script.js"></script>
  </body>
</html>
