<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device, initial-scale=1">
    <title>ark</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="../images/index/ark_logo.ico">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/ham_style.css">
    <link rel="stylesheet" href="../information/info.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="../send/send_js/send_script.js"></script>
    <style>
      @import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
    </style>
    <style>
      <%= loginCollect.navsatus %> {display:none;}
      a:hover {text-decoration:none};
    </style>
  </head>
  <body>
      <!-- hamburger -->
      <div class="hamburger">
        <div class="ham-style hamnav_style">
          <ul class="ham">
            <li>
              <button class="hamburger-menu">
                <span class="icon-bar"></span>
                <span class=" icon-bar_short"></span>
                <span class="icon-bar"></span>
              </button>
                <ul class="ham_ul">
                  <div  class="ham_close"><a href="#"><img src="..\images\index\index320_nav_close_icon.png" alt="logo"></a></div>
                  <div class="li_hello"><div class="hello">Hi，您好</div></div>
                  <!-- 活動資訊 -->
                  <li class="ham_li_padding ham_but_01" id="here"><a href="../information/"><div class="left">
                    <img class="ham_icom" src="../images/index/index320_infor_icon_white.png" alt="icon">
                    <!-- <img class="ham_icom icom_mous_in01" src="../images/index/index320_infor_icon_blue.png" alt="icon"> -->
                  </div><div class="ham_li_text">活動資訊</div></a></li>
                  <!-- 登入 -->
                  <li class="login_none ham_li_padding ham_but_02"><a href="../login/"><div class="left">
                    <img class="ham_icom icom_mous_out02 icom_mous_out" src="../images/index/index320_login_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in02" src="../images/index/index320_login_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">登入</div></a></li><!--class的login_none和logout_none可以消失-->
                  <!-- 送船 -->
                  <li class="logout_none ham_li_padding ham_but_03"><a href="../send/"><div class="left">
                    <img class="ham_icom icom_mous_out03 icom_mous_out" src="../images/index/nav_burger_send_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in03" src="../images/index/nav_burger_send_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">送船</div></a></li><!--登入才要出現-->
                  <!-- 收船 -->
                  <li class="logout_none ham_li_padding ham_but_04"><a href="../receive/"><div class="left">
                    <img class="ham_icom icom_mous_out04 icom_mous_out" src="../images/index/nav_burger_receive_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in04" src="../images/index/nav_burger_receive_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">收船</div></a></li><!--登入才要出現-->
                  <!-- 登出 -->
                  <li class="logout_none logout_non ham_li_padding ham_but_05"><a href="../logout/"><div class="left">
                    <img class="ham_icom icom_mous_out05 icom_mous_out" src="../images/index/nav_burger_logout_icon_white.png" alt="icon">
                    <img class="ham_icom icom_mous_in05" src="../images/index/nav_burger_logout_icon_blue.png" alt="icon">
                  </div><div class="ham_li_text">登出</div></a></li>
                  <div class="clear"></div>
                </ul>
          </li>
          </ul>
        </div><!--ham-style-->
        <div class="ham_logo">
          <a href="../">
            <div class="hamnav_style">
              <img src="..\images\index\logo_34x26.png" alt="logo">
            </div>
            <div class="nav_li_B hamnav_style">ark</div>
          </a>
        </div>
        <div class="clear"></div>
        <div id="blackbg00"></div><!--黑背景-->
      </div><!--hambuger-->
  <div class="container">
    <nav>
      <div class="nav_style">
        <ul>
          <li class="nav_li_A"><img src="..\images\index\logo_34x26.png" alt="logo"></li>
          <li><div class="nav_li_B"><a href="../">方舟．ark</a></div></li>
        </ul>
        <ul class="nav_right">
          <li class="nav_li_C" id="here"><a href="../information/"><div>活動資訊</div></a></li>
          <li class="nav_li_D login_none"><a href="../login/"><div>登入</div></a></li><!--class的login_none和logout_none可以消失-->
          <li class="nav_li_C logout_none"><a href="../receive/"><div>收船</div></a></li><!--登入才要出現-->
          <li class="nav_li_C logout_none"><a href="../send/"><div>送船</div></a></li><!--登入才要出現-->
          <li class="nav_li_D logout_none"><a href="../logout/"><div>登出</div></a></li><!--登入才要出現-->
        </ul>
      </div>
    <div class="clear"></div>
    </nav>
    <!-- 活動內容 -->
    <article>
      <div class="cookie">首頁 > 活動資訊</div>
      <div class="article_form_headertxt">活動資訊</div>

      <!-- 活動內容區 -->
      <% for(var i =0;i<newsdata.length;i++){ %>
      <!-- info_all_0<%= i+1 %> -->
      <div class="info_all">
        <div class="left info_img">
            <img src="../images/information_img/<%= newsdata[i].imgicon %>" alt="info_img">
        </div>
        <div class="right info_text">
          <div class="info_text_title">
            <%= newsdata[i].title %>
          </div>
          <div class="info_text_com">
            <%= newsdata[i].content %>
          </div>
          <div class="info_text_butt">
            <div class=" left info_text_butt_time">
            <%= moment(newsdata[i].datetime).format('YYYY/MM/DD') %>
            </div>
            <div class="right info_text_butt_more">
              <a href="../information_more?id=<%= newsdata[i].id%>">>>詳情</a>
            </div>
            <div class="clear"></div>
          </div><!--info_text_butt-->
        </div><!--info_text-->
        <div class="clear"></div>
      </div>
      <!--info_all_<%= i+1 %>-->
      <% } %>

    <!-- 活動內容區end -->
    <div class="count">
      <div class="count_style">
        <div class="count_style_in count_l1 count_a"><<</div>
        <div class="count_style_in count_l2 count_a"><</div>
        <div class="count_style_in count_m myLink">1</div>
        <div class="count_style_in count_r2 count_a">></div>
        <div class="count_style_in count_r1 count_a">>></div>
      </div>
    </div>
    </article>


    </div><!--container-->
    <footer>
      <div class="footer_txt">
        Copyright © 2017
      </div>
    </footer>
    <!-- <script src="../js/jquery.js"></script> -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/ham_script.js"></script>
  </body>
</html>
